body {
    background-image: url(./gamehompagebackground.jpg);
    margin: 0;
    padding: 0;
}
main {
    
    margin:50px;
}
.navbar-menu {
    display: block;
    background-color: #7fd6cd;
    padding: 20px 20px 15px;
    text-align: right;
    margin-top: 30px;
}
.navbar-item {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    font-size: 35px;
    padding: 0 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px #fff;
}
.random {
    background-color: #444;
    padding: 12px 15px 7px;
    color: #fff;
    border-radius: 4px;
    line-height: 1.4;
    text-shadow: none;
}
.title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    font-size: 80px;
    padding: 0 20px;
    color: #000; 
    margin: 0 auto;
}
.subtitle {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    font-size: 40px;
    padding: 0 20px;
    color: #000;
}
p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.instructions-card {
    margin: 0 auto;
    max-width:1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    height: 533px;
    background-color: #fff;
}
.container-left {
    float:left;
}
.instructions-pic {
    max-width: 400px;
    border-radius: 40px 0px 0px 40px; 
    text-align: center;
    background-color: #000;
    margin-right: 40px;
}

.container-right {
    padding: 40px;
}


.instructions-description {
    text-align: left;
    font-size: 25px;
    color: #000;
    width: 85%;
    line-height: 1.5;
    font-weight: 300;
    margin:20px 0 0
} 

.instructions-subtitle a{
    text-align: left;
    font-size: 25px;
    color: #fff !important;
    text-shadow: 2px 2px #333;
    padding: 10px 0px 7px;
    line-height: 1.4;
    text-decoration: none !important;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
}
.cta1 {
    background-color: #d69eff;
}

.cta2 {
    background-color: #9ec8ff;
}
.cta3 {
    background-color: #02eea6;
}        
        
        